<div id="footer">
  <span class="powered_by">Powered By <a href="https://cnopencart.com/" target="_blank">CNOpencart</a><span class="version">1.0.0</span></span>
  <span class="base_on">Base On OpenCart</span>
</div>
</body></html>
