
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1531544214884');
  src: url('iconfont.eot?t=1531544214884#iefix') format('embedded-opentype'),
  url("../fonts/iconfont.woff") format("woff"),
  url('../fonts/iconfont.ttf?t=1531544214884') format('truetype'),
  url('../fonts/iconfont.svg?t=1531544214884#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before { content: "\e6cb"; }

.icon-search:before { content: "\e6ca"; }

.icon-wechat:before { content: "\e640"; }

.icon-mail:before { content: "\e615"; }

.icon-qq:before { content: "\e6cc"; }

.icon-align-center:before { content: "\e601"; }

.icon-align-right:before { content: "\e602"; }

.icon-align-left:before { content: "\e603"; }

.icon-arrow-down:before { content: "\e604"; }

.icon-arrow-right:before { content: "\e605"; }

.icon-arrow-left:before { content: "\e606"; }

.icon-arrow-thin-down:before { content: "\e608"; }

.icon-arrow-thin-left:before { content: "\e609"; }

.icon-arrow-thin-up:before { content: "\e60a"; }

.icon-alarm:before { content: "\e60b"; }

.icon-arrow-thin-right:before { content: "\e60c"; }

.icon-arrow-up:before { content: "\e60d"; }

.icon-backspace:before { content: "\e60e"; }

.icon-article:before { content: "\e60f"; }

.icon-archive:before { content: "\e610"; }

.icon-basket:before { content: "\e611"; }

.icon-battery-empty:before { content: "\e612"; }

.icon-blog:before { content: "\e617"; }

.icon-bell:before { content: "\e618"; }

.icon-bookmark:before { content: "\e619"; }

.icon-bold:before { content: "\e61b"; }

.icon-bookmarks:before { content: "\e61c"; }

.icon-box:before { content: "\e61d"; }

.icon-briefcase:before { content: "\e61e"; }

.icon-broadcast:before { content: "\e620"; }

.icon-browser-upload:before { content: "\e623"; }

.icon-browser:before { content: "\e624"; }

.icon-calendar:before { content: "\e625"; }

.icon-brush:before { content: "\e626"; }

.icon-camera:before { content: "\e627"; }

.icon-card:before { content: "\e629"; }

.icon-checkmark:before { content: "\e62a"; }

.icon-chevron-down:before { content: "\e62b"; }

.icon-cart:before { content: "\e62c"; }

.icon-checklist:before { content: "\e62d"; }

.icon-chevron-right:before { content: "\e62e"; }

.icon-chevron-left:before { content: "\e62f"; }

.icon-chevron-up:before { content: "\e630"; }

.icon-clipboard:before { content: "\e631"; }

.icon-clock:before { content: "\e632"; }

.icon-clockwise:before { content: "\e633"; }

.icon-cloud-download:before { content: "\e634"; }

.icon-cloud-upload:before { content: "\e635"; }

.icon-cloud:before { content: "\e636"; }

.icon-code:before { content: "\e637"; }

.icon-copy:before { content: "\e638"; }

.icon-contract-:before { content: "\e639"; }

.icon-crop:before { content: "\e63a"; }

.icon-cross:before { content: "\e63b"; }

.icon-conversation:before { content: "\e63c"; }

.icon-contract:before { content: "\e63d"; }

.icon-crosshair:before { content: "\e63e"; }

.icon-device-desktop:before { content: "\e63f"; }

.icon-device-mobile:before { content: "\e641"; }

.icon-direction:before { content: "\e642"; }

.icon-document-edit:before { content: "\e645"; }

.icon-document-new:before { content: "\e646"; }

.icon-device-tablet:before { content: "\e647"; }

.icon-document:before { content: "\e648"; }

.icon-dot:before { content: "\e64a"; }

.icon-dots-:before { content: "\e64b"; }

.icon-download:before { content: "\e64c"; }

.icon-dots-1:before { content: "\e64d"; }

.icon-duplicate:before { content: "\e64e"; }

.icon-enter:before { content: "\e64f"; }

.icon-exit:before { content: "\e650"; }

.icon-expand-:before { content: "\e651"; }

.icon-expand:before { content: "\e652"; }

.icon-export:before { content: "\e654"; }

.icon-feed:before { content: "\e655"; }

.icon-flag:before { content: "\e656"; }

.icon-folder-open:before { content: "\e657"; }

.icon-folder:before { content: "\e659"; }

.icon-forward:before { content: "\e65a"; }

.icon-gear:before { content: "\e65e"; }

.icon-graph-line:before { content: "\e65f"; }

.icon-graph-pie:before { content: "\e660"; }

.icon-help:before { content: "\e663"; }

.icon-home:before { content: "\e664"; }

.icon-information:before { content: "\e665"; }

.icon-hourglass:before { content: "\e666"; }

.icon-italic:before { content: "\e667"; }

.icon-jewel:before { content: "\e668"; }

.icon-inbox:before { content: "\e669"; }

.icon-link-broken:before { content: "\e66b"; }

.icon-lightbulb:before { content: "\e66c"; }

.icon-link:before { content: "\e66d"; }

.icon-list:before { content: "\e66e"; }

.icon-lock-open:before { content: "\e66f"; }

.icon-location:before { content: "\e670"; }

.icon-loading:before { content: "\e671"; }

.icon-lock:before { content: "\e672"; }

.icon-map:before { content: "\e675"; }

.icon-menu:before { content: "\e67c"; }

.icon-message:before { content: "\e67d"; }

.icon-medical:before { content: "\e67e"; }

.icon-media-shuffle:before { content: "\e67f"; }

.icon-meter:before { content: "\e680"; }

.icon-minus:before { content: "\e681"; }

.icon-monitor:before { content: "\e682"; }

.icon-microphone:before { content: "\e683"; }

.icon-move:before { content: "\e685"; }

.icon-music:before { content: "\e686"; }

.icon-paperclip:before { content: "\e68c"; }

.icon-phone:before { content: "\e68d"; }

.icon-pencil:before { content: "\e68e"; }

.icon-photo-group:before { content: "\e68f"; }

.icon-photo:before { content: "\e690"; }

.icon-pin:before { content: "\e692"; }

.icon-plus:before { content: "\e693"; }

.icon-power:before { content: "\e694"; }

.icon-preview:before { content: "\e695"; }

.icon-print:before { content: "\e696"; }

.icon-question:before { content: "\e698"; }

.icon-reply-all:before { content: "\e699"; }

.icon-return:before { content: "\e69a"; }

.icon-reply:before { content: "\e69b"; }

.icon-retweet:before { content: "\e69c"; }

.icon-shopping-bag:before { content: "\e69e"; }

.icon-skip:before { content: "\e69f"; }

.icon-star:before { content: "\e6a4"; }

.icon-store:before { content: "\e6a5"; }

.icon-swap:before { content: "\e6a6"; }

.icon-tags:before { content: "\e6a9"; }

.icon-tag:before { content: "\e6aa"; }

.icon-thumbs-up:before { content: "\e6ab"; }

.icon-thumbs-down:before { content: "\e6ac"; }

.icon-time-reverse:before { content: "\e6ae"; }

.icon-to-do:before { content: "\e6af"; }

.icon-toggles:before { content: "\e6b0"; }

.icon-trash:before { content: "\e6b1"; }

.icon-trophy:before { content: "\e6b2"; }

.icon-upload:before { content: "\e6b3"; }

.icon-user-id:before { content: "\e6b4"; }

.icon-user-group:before { content: "\e6b5"; }

.icon-user:before { content: "\e6b6"; }

.icon-view-apps:before { content: "\e6b8"; }

.icon-view-list-large:before { content: "\e6b9"; }

.icon-view-list:before { content: "\e6ba"; }

.icon-view-thumb:before { content: "\e6bb"; }

.icon-wallet:before { content: "\e6c0"; }

.icon-warning:before { content: "\e6c1"; }

.icon-wifi:before { content: "\e6c3"; }

.icon-zoom-in:before { content: "\e6c4"; }

.icon-wrong:before { content: "\e6c5"; }

.icon-zoom-out:before { content: "\e6c6"; }

.icon-web:before { content: "\e6c7"; }

.icon-align-justify:before { content: "\e6c8"; }

.icon-cnoc:before { content: "\e6c9"; }

.icon-heart-fill:before { content: "\e661"; }

.icon-star-fill:before { content: "\e66a"; }

.icon-heart:before { content: "\e674"; }
