<footer id="footer">
	<span class="powered_by">{{ text_footer }}<span class="version">{{ text_version }}</span></span>
	{#<span class="base_on">{{ text_base_on }}</span>#}
</footer></div>
</body></html>
